<h1>Secrets</h1>
<% @secrets.each do |secret| %>
    # Secret Content that everyone can see
    <p> <%= secret.content %> </p>
    <% if current_user == secret.user %>
            <form action="/secrets/<%= secret.id %>" method="post" >
                <input type="hidden" name="authenticity_token" value="<%= form_authenticity_token %>">
                <input type="hidden" name="_method" value="delete">
                <input type="submit" value="Delete Secret">
            </form>
        <% end %>
<% end %>
